.menu_hamburguesa{
    width: 25px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    padding: 15px;
    padding-top: 30px;

}

.linea{
    height: 4px;
    width: 100%;
    background-color: grey;
    border-radius: 2px;
}

header{
    background-color: rgb(231, 234, 238);
    display: flex;
}

body{
    margin: 0px;
}

.nombre_pagina{
    text-align: top;
    padding-left: 30px;
}

.barra_busqueda{
    align-content: center;
    margin-left: auto;
    margin-right: auto;
}

.boton_busqueda{
    cursor: pointer;
}

.lupa{
    width: 15px;
    height: 15px;
}

.icono{
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.icono_div1{
    align-content: center;
    margin-left: auto;
}

.icono_div2{
    align-content: center;
    padding-right: 15px;
    padding-left: 15px;
}

footer{
    background-color: gray;
}

.productos{
    display: flex;
    justify-content: space-around;
    margin-left: 25%;
    margin-right: 25%;
    padding-top: 7%;
}