.menu_hamburguesa{
    width: 25px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    padding: 15px;
    padding-top: 30px;

}

.linea{
    height: 4px;
    width: 100%;
    background-color: grey;
    border-radius: 2px;
}

header{
    background-color: rgb(231, 234, 238);
    display: flex;
    position: fixed;
    width: 100%;
}

body{
    margin: 0px;
    height: auto;
}

.nombre_pagina{
    text-align: top;
    padding-left: 30px;
}

.barra_busqueda{
    position: absolute;
    left: 50%;
    top: 30%;
    padding: 5px;
}

@media (width <= 960px){
    .barra_busqueda{
        position:initial;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 15px;
    }
    .cuerpo{
        width: 300px;
    }
}

@media (width <= 725px){
    .linea_productos{
        display: flex;
        flex-direction: column;
    }
    .productos_total{
        display: flex;
        width: 100vh;
        justify-content: center;
    }

    .productos{
      width: 250px; 
    }
}

    

.boton_busqueda{
    cursor: pointer;
}

.lupa{
    width: 15px;
    height: 15px;
}

.icono{
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.icono_div1{
    align-content: center;
    margin-left: auto;
}

.icono_div2{
    align-content: center;
    padding-right: 15px;
    padding-left: 15px;
}

footer{
    background-color: rgb(231, 234, 238);
    position:static;
    width: 100%;
    bottom: 0px;
    display: flex;
    justify-content: left;
    padding-bottom: 10px;
}

.linea_productos{
    display: flex;
    justify-content: space-around;
    margin-left: 25%;
    margin-right: 25%;
    border: 20%;
}

.productos_total{
    display: flex;
    flex-direction: column;
}

.productos{
    display: flex;
    flex-direction: column;
    padding: 5%;
}

.fotos_productos{
    width: 180px;
    height: 200px;
    padding: 10%;
}

button{
    cursor: pointer;
}

.comprar{
    width: 65%;
    margin-top: 5%;
    margin-right: 10%;
}

.columna_footer{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}

p{
    margin: 5px;
    cursor: pointer;
}

.cuerpo{
    min-height: 90vh;
    padding-top: 100px;
}

html, body{
    height: 100%;
}